<!DOCTYPE html>
<html>
	<head>	
		<title>About me</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
<body>
	<div class="main-content">
		{{>header}}	
		<p>This site was created by Amrik. It uses mapbox.com and darksky.net!</p>
		<img src="/images/node.png" class="portrait">
	</div>
	{{>footer}}
</body>
</html>

